.training-form {
    display: flex;
}

.training-form-date-input {
    border-radius: none;
    width: 200px;
    height: 40px;
    text-align: center;
    margin-right: 30px;
}

.training-form-count-input {
    border-radius: none;
    width: 200px;
    height: 40px;
}

.training-form-button {
    background: none;
    border: 1px solid grey;
    outline:none;
    width: 46px;
    height: 46px;
}

table {
    text-align: center;
}
th {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
}